.main-destaques {
    height: auto;
}

.main-destaques--posts {
    display: grid;
    height: auto;
    gap: .5%;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

.publicacaoContainer {
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 30%;
    gap: .2%;
}

.publicacao-img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.publicacao-text {
    background-color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.publicacao-titulo {
    display: block;
    color: black;
    font-weight: 700;
    font-size: 1.25rem;
    padding: .25rem;
}

.publicacao-descricao {
    color: black;
    text-align: justify;
    padding: .25rem;
}